/*Import fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
/*Global styling*/
/*Stylesheet imports*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #191A1F;
  font-family: "Poppins", sans-serif;
}

li, a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.play-btn {
  font-size: 0.85rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background: #D22F27;
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
}
.play-btn i {
  margin-left: 0.3em;
}

.list-btn {
  font-size: 0.85rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background: #65666B;
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
}
.list-btn i {
  margin-left: 0.3em;
}

/*Navigation balk*/
.navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5em 1em;
  z-index: 40;
}

.navigation-section-scroll-active {
  background: #191A1F;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.nav-links {
  display: flex;
  gap: 5em;
  list-style: none;
}
.nav-links a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}
.nav-links a:hover {
  transition: all 0.3s ease;
  color: #D22F27;
}
.nav-links a:active {
  color: #D22F27;
}

.profile-picture {
  border-radius: 50%;
  background-image: url("../images/profile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.nav-search {
  display: flex;
  align-items: center;
  gap: 1em;
}
.nav-search i {
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

/*Hero slider*/
.header-slider {
  position: relative;
}

.blaze-track.hero-slider > * {
  display: flex;
  transition: width 300ms ease;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  height: 100vh;
}

.movie img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.controls-arrow-btn {
  margin: auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.controls-arrow-btn button {
  background: #65666B;
  cursor: pointer;
  border: none;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.movie-text {
  max-width: 850px;
  padding: 1em;
  margin: auto;
  position: absolute;
  bottom: 100px;
}
.movie-text h1 {
  font-size: 3.5rem;
  margin-bottom: 0.3em;
  text-shadow: 0 1px 0 black;
}
.movie-text p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  text-shadow: 0 1px 0 black;
}
.movie-text button {
  margin-top: 1.5em;
  margin-right: 1em;
}

.blaze-pagination {
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 27.5px;
  display: flex;
  gap: 10px;
}

.blaze-pagination button {
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: #65666B;
  cursor: pointer;
  transition: transform 200ms ease, background-color 300ms ease;
}

.blaze-pagination button.active {
  background: #D22F27;
  transform: scale(1.3);
}

/*Genre sliders*/
.genre-slider {
  margin-block: 10em;
}

.blaze-track.genre-slider-items > * {
  max-width: 350px;
  width: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}
.blaze-track.genre-slider-items > * .genre-text {
  height: 100%;
}
.blaze-track.genre-slider-items > * h3 {
  font-size: 1.4rem;
  color: white;
  margin-block: 0.5em;
}
.blaze-track.genre-slider-items > * p {
  color: #65666B;
  text-transform: capitalize;
}

.movie-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.title-controls {
  display: flex;
  align-items: center;
  padding: 2.5em;
  width: 100%;
  justify-content: space-between;
}

.seasons {
  width: 100%;
}

.season-slider {
  width: 100%;
}

.season-title-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 8em;
  margin-bottom: 1.5em;
}

.title-genre {
  color: white;
  display: flex;
  align-items: center;
  gap: 1em;
}
.title-genre .line {
  display: block;
  background-color: white;
  width: 44px;
  height: 2px;
}

.controls {
  display: flex;
  gap: 0.5em;
}
.controls button {
  background: #65666B;
  cursor: pointer;
  border: none;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.details-header-image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  filter: blur(10px) brightness(50%);
  z-index: -5;
}

.details-header {
  position: relative;
  display: grid;
  place-items: center;
}

.details-wrapper {
  min-height: 85vh;
}

.details-header-information img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 5em;
  border-radius: 8px;
}

.details-header-information {
  display: flex;
  gap: 2.5em;
  margin: auto;
  width: 65%;
  color: white;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.details-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75em;
  margin-top: 7.5em;
  width: 100%;
}
.details-header-text h1 {
  font-size: 2.5rem;
}
.details-header-text h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
}
.details-header-text .score {
  font-size: 1.5rem;
  color: #FCC537;
  display: flex;
  align-items: center;
}
.details-header-text .details-time {
  display: flex;
  gap: 0.5em;
  font-size: 1.3rem;
}
.details-header-text .genres {
  display: flex;
  gap: 0.65em;
}
.details-header-text .genres p {
  background: #65666B;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 7.5px;
}

#details {
  margin: auto;
  width: 65%;
}

.details-user-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: -1.5em;
  z-index: 1;
}
.details-user-buttons .play-list {
  display: flex;
  gap: 1em;
}

.about {
  margin-block: 5em;
}

.about-information {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.about-information iframe {
  width: 100%;
  height: 600px;
  border: none;
  border-radius: 8px;
  flex: 2;
}

.about-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.75em;
  color: white;
  font-weight: 400;
}
.about-text h3 {
  color: #65666B;
  font-weight: 400;
  font-size: 1.7rem;
}

.seasons-information {
  display: flex;
  justify-content: space-between;
}

.seasons {
  display: flex;
  flex-direction: column;
}

.season {
  text-align: center;
  color: white;
}
.season img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 8px;
}

.details-sliders {
  display: flex;
}

.reviews {
  margin-block: 10em;
}

.review {
  display: flex;
  margin-block: 2em;
  padding: 2.5em 1em;
  justify-content: space-between;
  align-items: center;
  background: #2D2D35;
  border-radius: 10px;
}
.review .profile-details {
  display: flex;
  align-items: center;
  gap: 1em;
}
.review .profile-details img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.review .profile-details .profile-details-text {
  color: white;
  display: -webkit-box;
  font-size: 0.95rem;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.review .profile-details .profile-details-text h3 {
  color: #65666B;
}
.review .profile-review-score {
  display: flex;
  text-align: center;
  color: white;
  gap: 1em;
}
.review .profile-review-score .divider {
  background: white;
  padding: 0.09em;
}
.review .profile-review-score h3 {
  color: #FCC537;
}

.no-reviews {
  color: #65666B;
  padding-block: 5em;
}

footer {
  background: #2D2D35;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
  row-gap: 3.5em;
  flex-direction: column;
}
footer .footer-promo {
  max-width: 500px;
}
footer .social-icons > * {
  background: #65666B;
  color: #B7B7B7;
  cursor: pointer;
  margin: 1em 0;
  padding: 0.5em;
  font-size: 1.4rem;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}
footer .line {
  width: 100%;
  padding: 0.05em;
  background: #65666B;
}

.footer-information-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
.footer-information-section .footer-information {
  display: flex;
  gap: 5em;
}
.footer-information-section .footer-information ul li {
  margin: 1em;
  font-weight: 400;
}

@media screen and (max-width: 40em) {
  html {
    font-size: 70%;
  }
  .nav-links {
    display: none;
  }
  .footer-information-section .footer-information {
    display: none;
  }
  .blaze-track.genre-slider-items > * {
    max-width: 250px;
    width: 100%;
  }
  .details-header-information img {
    display: none;
  }
  .about-information {
    flex-wrap: wrap;
  }
  .about-information iframe {
    height: 350px;
  }
}/*# sourceMappingURL=style.css.map */