/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
/*Global styling*/
$header1: 2.5rem;
$header2: 2rem;
$header3: 1.5rem;
$paragraph: 1rem;
$dark-gray-color: #191A1F;
$light-gray-color: #65666B;
$medium-gray-color: #2D2D35;
$red-color: #D22F27;
$white-gray-color: #B7B7B7;

/*Stylesheet imports*/
@import "globals";
@import "navbar";
@import "slider_components";
@import "details";
@import "footer";

@media screen and (max-width:40em){
    html{
        font-size: 70%;
    }
    .nav-links{
        display: none;
    }
    .footer-information-section{
        .footer-information{
            display: none;
        }
    }
    .blaze-track.genre-slider-items>*{
        max-width: 250px;
        width: 100%;
    }
}

